body {
    display: flex;
    flex-direction: column;
    background-image: url(../views/img/sentimentAnalysis.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: sans-serif;
}

main {
    flex: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

section {
    max-width: 800px;
    margin: 50px auto;
}